
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand p-4" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cursos']" routerLinkActive="active">Cursos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-data-binding></app-data-binding>
 <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>

<div class="containerr">
  <router-outlet></router-outlet>
</div>
 <app-ngswitch></app-ngswitch>
 <app-ngfor></app-ngfor>
 <app-diretiva-ngif></app-diretiva-ngif>
 <app-ngclass></app-ngclass>
 <app-ngstyle></app-ngstyle>
 <app-operador-elvis></app-operador-elvis>
 <app-ngcontent>
  <!-- Conteudo passado para o componete. <br> <br> -->
  <app-operador-elvis></app-operador-elvis>
</app-ngcontent>

 <app-diretivas-customizadas></app-diretivas-customizadas>
 <app-cursos3></app-cursos3>
<app-criar-curso></app-criar-curso>
