<div class="container bg-info text-center">
  <app-data-binding></app-data-binding>
<hr>
  <!-- <app-ngswitch></app-ngswitch> -->
  <app-ngfor></app-ngfor>
  <hr>
  <app-diretiva-ngif></app-diretiva-ngif>
  <hr>
  <app-ngclass></app-ngclass>
  <hr>
  <app-ngstyle></app-ngstyle>
  <hr>
  <app-operador-elvis></app-operador-elvis>
  <hr>
  <app-ngcontent>
    Conteudo passado para o componete. 👇🏾👇🏾 <br> <br>
    <app-operador-elvis></app-operador-elvis>
  </app-ngcontent>
  <hr>
  <app-diretivas-customizadas></app-diretivas-customizadas>
  <hr>
  <app-criar-curso></app-criar-curso>
</div>
