<div class="container">
  <h1>O que é um Enum?</h1>

  <h6>
    <strong>Enums</strong>
    é um tipo de enumeração que nós fornece uma maneira muito simples de
    definirmos um conjunto de constantes. Por exemplo, vamos imaginar que
    precisamos definir uma variável cada dia da semana. Pensando nesse cenário
    nós temos sete valores que podem ser enumerados. Abaixo podemos ver um
    exemplo de criação de um Enum para esses dias da semana:
  </h6>
  <img
    src="../../../assets/Screenshot 2022-02-18 132716.png"
    alt="imagem Enum"
    width="500px"
  />

  <hr />

  <h1>O que é um Pipe?</h1>
  <h6>
    Para exibir corretamente os dados o Angular desenvolveu o que chamamos de
    pipe, os quais permitem transformar uma dados antes de ser exibido
    diretamente ao usuário.
  </h6>
  <h6>
    No atributo data cadastro, temos uma data, que mostrada de forma bruta
    veremos o seguinte. <br /><br />
    <code>21 visitas - 2018-03-02T12:51:57</code> <br /><br />
    A data é exibida mas em um formato incorreto. Que tal se pudessemos melhorar
    esta apresentação? Usando o pipe de datas do próprio Angular, podemos deixar
    nosso código assim: <br /><br />
    <code>"{{"anuncio.visualizacoes visitas"}} - {{"anuncio.dataHoraCadastro"}}</code><br /><br />

    <h5>Caso queira mais pipes vc pode encontrar nesse site</h5>
    <a href="https://angular.io/api?type=pipe">https://angular.io/api?type=pipe</a>

  </h6>

</div>
