<!-- Diretivas: *ngIf -->
<h5>*ngif</h5>
<strong>O ngif é recomendado para árvores de elementos grandes, como por exemplo uma mensagem de formulario </strong>

<div *ngIf="cursos.length > 0">
  Lista de Cursos Aqui.
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>
<!-- tag boolean -->
<div *ngIf="mostrarCursos">
  Lista de Cursos Aqui.
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados
</div>

<br>
<!-- botão -->
<button (click)="onMostrarCursos()" class="btn-primary">Mostrar ou esconder Cursos</button >
 <br> <br>

<!-- Hiddem (mostrar ou n ao usuario) -->

  <h5>Hidden como alternativa</h5>
  <strong>O hidden é recomendado para árvores de elementos pequenos, como por exemplo uma mensagem de formulário </strong>

  <div [hidden]="!mostrarCursos">
    Lista de Cursos Aqui.
  </div>
  <div [hidden]="mostrarCursos">
    Não existem cursos para serem listados
  </div>

<!-- para ver essa aula se quiser ir na aula 28 da Loiane -->
<!-- <h5>Removendo o * e usando template</h5> -->

